@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/Ionicons.ttf);
    font-family: "Ionicons";
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/FontAwesome.ttf);
    font-family: "FontAwesome";
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/FontAwesome5_Brands.ttf);
    font-family: "FontAwesome5_Brands";
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/FontAwesome5_Regular.ttf);
    font-family: "FontAwesome5_Regular";
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/FontAwesome5_Solid.ttf);
    font-family: "FontAwesome5_Solid";
    font-weight: 900; /* Bold weight for solid */
    font-style: normal;
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf);
    font-family: "MaterialIcons";
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/Feather.ttf);
    font-family: "Feather";
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf);
    font-family: "MaterialCommunityIcons";
  }

  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/FontAwesome6_Brands.ttf);
    font-family: "FontAwesome6_Brands";
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/FontAwesome6_Regular.ttf);
    font-family: "FontAwesome6_Regular";
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }

  @font-face {
    src: url(/node_modules/react-native-vector-icons/Fonts/FontAwesome6_Solid.ttf);
    font-family: "FontAwesome6_Solid";
    font-weight: 900; /* Bold weight for solid */
    font-style: normal;
  }
  
  /* TODO: Add other icons fonts here */